---

---

@import "{{ site.theme }}";
@import "fonts";
@import "rouge-github";
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  background-color: #222;
  color: #727272;
  font-family: "Oswald", sans-serif;
}

.body > div > header {

  display: flex;
  align-items: center;
  justify-content: space-between;

  > * {
    margin-bottom: 10px;
  }
}

body > div > header > img {

  margin-right: 36px;
}

body > div > header > h1 {

  margin-right: auto;
}


h1,h2,h3,h4,h5,h6,strong {
  color: #C8C8C8;
}

hr {
  background: #555;
}

p {
  font-weight: initial;
}

a {
  color:#ffffff;
}

a:hover {
  color:#D62E22;
  font-weight: initial;
}
