---

---

@import "{{ site.theme }}";
@import "fonts";
@import "rouge-github";

body {
  background-color: #222;
  color: #727272;
}

h1,h2,h3,h4,h5,h6,strong {
  color: #C8C8C8;
}

hr {
  background: #555;
}

p {
  font-weight: initial;
}

a {
  color:#ffffff;
}
