---

---

@import "{{ site.theme }}";
@import "fonts";
@import "rouge-github";
@import url('"https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
  background-color: #222;
  color: #727272;
  font-family: 'JetBrainsMono', sans-serif;
}

h1,h2,h3,h4,h5,h6,strong {
  color: #C8C8C8;
}

hr {
  background: #555;
}

p {
  font-weight: initial;
}

a {
  color:#ffffff;
}

a:hover {
  color:#D62E22;
  font-weight: initial;
}
