<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>

        <!-- <p>{{ site.description | default: site.github.project_tagline }}</p> -->

        {% if site.logo %}
          <img class="site-logo" src="{{site.logo | relative_url}}" alt="Logo" height="96" />
        {% endif %}

        <h1 class="site-name">{{ site.title | default: site.github.repository_name }}</h1>     

         <p class="menu-link"><a href="./browser_extensions.html"><b>For Web</b</a></p>
  
        <!-- <p class="view"><a href="./android_apps.html"><strong>For Android</strong></a></p> -->

        <!-- <p class="view"><a href="./other_projects.html"><strong>Other Projects</strong></a></p> -->
        
        <p class="menu-privacy"><a href="./privacy_policy.html">Privacy Policy</a></p>

      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
